@font-face {
    font-family: 'Montserrat-Medium';
    src: url('Montserrat-Medium.woff2');
    src: url('Montserrat-Medium.woff2') format('woff2'),
         url('Montserrat-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

