.diary-entry {
    background-color: #fff;
    border-radius: 24px;
    padding: 20px;
}
.diary-time {
    margin-bottom: .5em;
}
.diary-section {
    padding-bottom: 2em;
}
.diary-section-title {
    top: var(--padding);
    position: sticky;
}
.diary-entry + .diary-entry {
    margin-top: 8px;
}
.diary-month-section-title {
    margin-left: 3.5em;
}
.diary-day-section-title {
    text-align: right;
    margin-bottom: 8px;
}
.diary-year-section-title + .diary-month-section,
.diary-year-section:first-child .diary-year-section-title + .diary-month-section .diary-month-section-title + .diary-day-section {
    margin-top: -3.3rem;
}

.diary-date-note {
    font-weight: 700;
    padding: 0 .4em;
    position: relative;
    text-align: center;
}
.diary-date-note:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.4em;
    border: 2px solid #000;
    border-top: none;
    border-bottom: none;
    border-radius: 1em;
    top: -0.2em;
    left: 0;
    box-sizing: border-box;
}

#app[data-version="2"] .diary-year-section-title + .diary-month-section,
#app[data-version="2"] .diary-year-section:first-child .diary-year-section-title + .diary-month-section .diary-month-section-title + .diary-day-section{
    margin-top: 0;
}
#app[data-version="2"] .diary-month-section-title {
    margin-left: 0;
}
#app[data-version="2"] .diary-day-section-title {
    text-align: left;
    margin-left: 2em;
}
#app[data-version="2"] .diary-month-section-title, 
#app[data-version="2"] .diary-day-section-title{
    top: calc(var(--padding) + 3.3rem);
}