#diary {
    --thumbnail-size: 40px;
    padding-top: 0;
}
.diary-entry {
    background-color: #fff;
    border-radius: 18px;
    padding: 10px;
    padding-left: 10px;
    display: flex;
}
.diary-entry.add-new {
    position: relative;
    color: var(--dark-grey);
    padding-left: 80px;
}
.diary-entry.add-new:before {
    content: '';
    background-image: url(/media/svg/plus.svg);
    opacity: 0.5;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translate(-50%, -50%);
}
.diary-content {
    flex: 1;
}
#app[data-date-style="3"] #diary .list {
    --day-width: 60px;
}
#app[data-date-style="3"] .diary-entry {
    margin-left: 70px;
}
#app[data-item-style="2"] .diary-entry:not(.add-new) {
    position: relative;
    background-color: transparent;
    border-radius: 0;
}
#app:not([data-item-style="2"]) .svg-background {
    display: none;
}
.svg-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}
.svg-background > svg {
    width: 100%;
    height: 100%;
}
#app[data-item-style="2"] .thumbnail-wrapper,
#app[data-item-style="2"] .diary-content {
    position: relative;
    z-index: 10;
}
