:root {
    --background: #ffffff;
}
html {
    /* font-size: 15px; */
    /* line-height: 1.5; */
}
#app[data-view="essay-detail-v2"] {
    --background: #ffffff;
    --inner-padding: 15px;
}

#essay-detail-v2 {
    padding-top: 0;
    /* --background: #ffffff; */
    margin-top: 0;
    --entry-part-gap: 12px;
    --medium-size: 18px;
    --large-size: 17vw;
}
.essay-title {
    
    margin-bottom: 20px;
    font-family: 'KuMincho-R', monospace;
    display: flex;
    flex-wrap: wrap;
}
.essay-title-year,
.essay-title-month,
.essay-title-day,
.date-separator {
    font-size: var(--large-size);
}
.essay-title-day-of-week {
    font-size: var(--medium-size);
}
#app[data-title-font="sans"] .essay-title  {
    font-family: "PingFang TC", Arial, sans-serif;
    font-weight: 200;
}
#app[data-punchline-font="sans"] .essay-detail-punchline  {
    font-family: "PingFang TC", Arial, sans-serif;
}
.date-separator:before {
    content: '.';
    display: inline;
}
#app[data-separator-style="1"] .date-separator {
    position: relative;
    display: inline-block;
    width: 0.4em;
    /* height: 100%; */
}
#app[data-separator-style="1"] .essay-title .date-separator:before {
    content: '';
    position:absolute;
    height: 1.1em;
    width: 1px;
    background-color: #000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(15deg);
}
#app[data-separator-style="2"] .essay-title .date-separator {
    width: 0.4em;
    text-align: right;
}
#app[data-separator-style="2"] .essay-title .date-separator:before {
    content: '.';
    height: auto;
    width: 100%;
    position: static;
    background-color: transparent;
    transform:none;
}
#essay-detail-header {
    border-bottom: none;
}
.essay-detail-section {
    overflow: visible;
    padding: 40px 0;
    /* border-bottom: 2px solid var(--light-grey); */
}
.essay-detail-section + .essay-detail-section {
    /* border-top: 2px solid var(--light-grey); */
}
.essay-detail-section:last-child {
    /* padding-bottom: 0px; */
    border-bottom: 2px solid var(--light-grey);
}
.essay-section-style-wrapper {
    padding: 40px 20px;
    position: relative;
    overflow: visible;
}
.essay-section-style-wrapper:after {
    /* content: ''; */
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    border-radius: var(--rounded);
    background-color: #fff;
    filter: blur(20px);
    transform: translate3D(0, 0, 0);
    z-index: 5;
}
.essay-detail-section-content {
    position: relative;
    z-index: 10;
    padding: 0 var(--inner-padding);
}
.essay-detail-punchline {
    font-family: 'KuMincho-R', monospace;
    padding-right: 40px;
    line-height: 1.4;
    font-size: var(--medium-size);
}

.essay-detail-punchline,
.essay-detail-punchline.medium {
    
    /* font-size: 20px; */
}
.essay-detail-thumbnail {
    --thumbnail-height: 50dvh;
    width: calc(100% + 2 * var(--padding));
    position: relative;
    left: calc(-1 * var(--padding));
    margin-top: calc(-1 * var(--padding));
    height: var(--thumbnail-height);
    max-height: 360px;
}
.essay-detail-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-right: 30px;
    /* padding-left: 30px; */
    /* display: block; */
}
.dummy-thumbnail {
    height: var(--main-header-height);
}
.dummy-thumbnail + .essay-detail-section {
    padding-top: var(--padding);
}
.essay-detail-thumbnail-caption {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(50%, -50%) rotate(-90deg);
    color: var(--dark-grey);
}
.essay-detail-section + .essay-detail-section {
    border-top: none;
}
.poem-content.body,
.body {
    line-height: 1.6;
}
.summary-content {
    color: var(--theme-color);
    /* border-radius: 18px;
    border: 1px solid var(--theme-color);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: var(--inner-padding);
    margin-right: var(--inner-padding); */
    padding-left: 30px;
    padding-right: 30px;
}
#essay-detail-diaries {
    --gap: 50px;
    /* padding: 40px 0; */
    padding: 0px 0 40px 0;
    /* border-top: 2px solid var(--light-grey); */
    /* border-bottom: 2px solid var(--light-grey); */
}
#essay-detail-diaries .list-entry + .list-entry {
    margin-top: var(--gap);
}
#conversation-popup {
    background-color: #000;
}
#conversation-popup .large-popup-body:after {
    content: '';
    clear: both;
    height: 0;
    display: block;
}
#conversation-popup .conversation-bubble {
    width: 85%;
    clear: both;
    
    
    padding: 20px;
    position: relative;
    
}
#conversation-popup .conversation-bubble + .conversation-bubble {
    margin-top: 10px;
    
}
#conversation-popup .conversation-bubble[data-subject="ai"] {
    float:left;
    /* border-top-left-radius: 0; */
    /* border-bottom-left-radius: 0; */
    left: calc( -1 * var(--padding));
    border-left: none;
    color: #fff;
}
#conversation-popup .conversation-bubble[data-subject="user"] {
    border: 1px solid;
    border-radius: var(--rounded);
    float:right;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    left: var(--padding);
    border-right: none;
    background-color: #fff;
}

#essay-detail-v2 .diary-entry {
    padding: 0 var(--inner-padding);
}
#app[data-view="essay-detail-v2"] #main-header {
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff 0%, #fff 20%, rgba(255, 255, 255, 0) 100%);
}
#app[data-view="essay-detail-v2"] #main-header:after {
    /* content: ''; */
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height:calc(var(--main-header-height) + 20px);
    z-index: 5;
    background-image: linear-gradient(to bottom, #fff 0%, #fff var(--main-header-height), rgba(255, 255, 255, 0) 100%);
}
#app[data-view="essay-detail-v2"] #main-header .header-section {
    position: relative;
    z-index: 10;
}
#app[data-view="essay-detail-v2"] #main-nav {
    display: none;
}

#app[data-view="essay-detail-v2"] .list-text {
    display: block;
    -webkit-box-orient: vertical;
    /* -webkit-line-clamp: 2; */
    /* text-overflow: visible; */
    line-height: 1.6;
}
.entry-header {
    display: flex;
    color: var(--dark-grey);
    align-items: center;
    margin-bottom: calc(var(--entry-part-gap) - 4px);
    /* margin-left: 16px; */
}
.entry-header-separator {
    width: 1.5em;
    height: .8em;
    position: relative;
}
.entry-header-separator:before {
    width: 2px;
    height: 2px;
    background-color: var(--dark-grey);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;   
}
#app[data-title-size="2"] .essay-title {
    font-size: 32px;
    margin-bottom: 5px;
}

#app[data-title-size="2"] .essay-detail-punchline,
#app[data-title-size="2"] .essay-detail-punchline.medium {
    font-size: 26px;
}

#app[data-title-size="3"] .essay-title {
    font-size: 17vw;
    margin-bottom: 30px;
    justify-content: center;
}

#app[data-title-size="3"]  .essay-detail-section-content {
    padding: 0;
    text-align: center;
}

#app[data-title-size="3"] #essay-detail-header {
    padding-top: 5px;
}
#app[data-title-size="4"] .essay-title {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 30px;
}
#app[data-title-size="4"] .essay-detail-punchline, 
#app[data-title-size="4"] .essay-detail-punchline.medium {
    font-size: 18px;
}
#app[data-title-size="4"] .essay-detail-punchline {
    /* padding-left: var(--padding); */
    padding-right: 60px;
}
#app[data-date-format="2"] .essay-title-year + .date-separator{
    display: block;
    
    flex: 0 0 100%;
    height: 0;
}
#app[data-date-format="2"] .essay-title-year + .date-separator:before {
    content: none;
}
#app[data-date-format="2"] .essay-title {
    flex-wrap: wrap;
}
#app[data-date-format="2"] #essay-detail-header {
    padding-top: 20px;
    padding-bottom: 60px;
}

#app[data-separator-style="3"] .essay-title .date-separator {
    width: auto;
    /* text-align: right; */
}
#app[data-separator-style="3"] .essay-title .date-separator:before {
    content: '\00a0/';
    height: auto;
    width: 100%;
    position: static;
    background-color: transparent;
    transform:none;
}

#app[data-date-format="3"] .essay-title-year {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
}
#app[data-date-format="3"] .essay-title{
    flex-wrap: wrap;
}
#app[data-date-format="3"] .essay-title-year + .date-separator{
    display: block;
    
    flex: 0 0 100%;
    height: 0;
}
#app[data-date-format="3"] .essay-title-year + .date-separator:before {
    content: none;
}
#app[data-date-format="3"] .essay-title-month,
#app[data-date-format="3"] .essay-title-day,
#app[data-date-format="3"] .essay-title-day-of-week,
#app[data-date-format="3"] .date-separator {
    /* font-weight: 400; */
    font-size: 36px;
}

#app[data-date-format="3"] .essay-title-day + .date-separator {
    flex: 0 0 100%;
    height: 0;
    opacity: 0;
}
#app[data-date-format="3"] .essay-detail-punchline,
#app[data-date-format="3"] .essay-detail-punchline.medium {
    /* font-size: 11px; */
    font-size: 15px;
    font-weight: 600;
}
#app[data-title-style="1"] #essay-detail-v2 {
    --large-size: 13vw;
    --medium-size: 18px;
    padding-bottom: 20px;
}
#app[data-title-style="1"] #essay-detail-diaries {
    --gap: 40px;
}
#app[data-title-style="1"] .essay-title {
    margin-bottom: 16px;
}
#app[data-title-style="1"] #essay-detail-header {
    padding-top: 30px;
    padding-bottom: 60px;
}
#app[data-title-style="1"] .essay-title-day-of-week {
    margin-left: 2px;
}

#app[data-title-style="2"] #essay-detail-v2 {
    --large-size: 17vw;
}
#app[data-title-style="2"] .essay-title {
    margin-bottom: 30px;
    justify-content: center;
}
#app[data-title-style="2"] .date-separator {
    display: inline;
}
#app[data-title-style="2"] .essay-title-day-of-week {
    font-size: 20px;
    margin-top: 3px;
}
#app[data-title-style="2"] #essay-detail-header {
    padding-top: 20px;
    padding-bottom: 60px;
}
#app[data-title-style="2"] .essay-detail-punchline {
    text-align: center;
    padding-right: var(--inner-padding);
}

#app[data-title-style="3"] #essay-detail-v2 {
    --large-size: 36px;
}

#app[data-title-style="3"] .essay-title,
#app[data-title-style="3"] .essay-detail-punchline {
    font-family: 'PingFang TC', monospace;
    font-weight: 500;
}
#app[data-title-style="3"] .essay-title-year {
    font-size: 15px;
    margin-bottom: 2px;
}
#app[data-title-style="3"] .essay-title-year  + .date-separator {
    flex: 0 0 100%;
    height: 0;
    opacity: 0;
}
#app[data-title-style="3"] .essay-title-day-of-week {
    font-size: var(--large-size);
    flex: 0 0 100%;
}
#app[data-title-style="3"] .essay-detail-punchline {
    font-size: 15px;
}
#app[data-title-style="3"] #essay-detail-header {
    /* padding-top: 20px; */
    padding-bottom: 50px;
}
#app[data-title-style="3"] .dummy-thumbnail {
    margin-bottom: 10px;
}
#app[data-title-style="4"] .essay-title,
#app[data-title-style="4"] .essay-detail-punchline {
    font-family: 'PingFang TC', monospace;
    font-weight: 500;
}
#app[data-title-style="4"] #essay-detail-v2 {
    --large-size: 36px;
    --medium-size: 15px;
}
#app[data-title-style="4"] .essay-title-year  + .date-separator {
    flex: 0 0 100%;
    height: 0;
    opacity: 0;
}
#app[data-title-style="4"] .essay-title-day-of-week {
    font-size: 11px;
    margin-top: 4px;
    margin-left: 2px;
}
#app[data-title-style="4"] #essay-detail-header {
    /* padding-top: 20px; */
    padding-bottom: 60px;
}
#app[data-title-style="4"] .dummy-thumbnail {
    margin-bottom: 10px;
}
#app[data-view="essay-detail-v2"] .diary-body {
    display: block;
}
#app[data-title-style="5"] #essay-detail-v2 {
    --large-size: 13vw;
    --medium-size: 18px;
    padding-bottom: 20px;
}
#app[data-title-style="5"] #essay-detail-diaries {
    --gap: 40px;
}
#app[data-title-style="5"] .essay-title {
    margin-bottom: 16px;
}
#app[data-title-style="5"] #essay-detail-header {
    padding-top: 30px;
    padding-bottom: 60px;
}
#app[data-title-style="5"] .essay-title-day-of-week {
    margin-left: 1em;
    font-size: 1rem;
    font-weight: 600;
    align-self: center;
    /* font-family: 'Ping Fang TC', monospace; */
}
.diary-body img {
    /* width: 100%; */
    max-height: 50vh;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
.essay-detail-summary {
    position: relative;
}
.essay-detail-summary:before {
    content: '';
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url()
}
.essay-detail-section.essay-detail-summary {
    padding-top: 0px;
}
.feedback-container {
    box-shadow: 0px 0px 12px var(--dark-grey);
    color: var(--theme-color);
    background-color: #fff;
    /* border: 2px solid; */
    border-radius: var(--rounded);
    padding: calc( 2.5* var(--padding));
    margin: var(--padding);
    margin-bottom: var(--padding);
    /* display: none; */
    scroll-margin-top: calc( var(--main-header-height) + var(--padding) );
}
.diary-header-more {
    margin-left: auto;
    transition: background 500ms;
    padding: 4px;
    /* transform: rotate(90deg); */
    /* background-color: blue; */
    /* width: 30px; */
    /* background-color: red; */
    /* height: 100%; */
}
.diary-header-more:active {
    background: red;
    transition: none;
}
.diary-header-more img {
    display: block;
}