#app[data-view="essay-list"] {
    height: auto;
}
#essay-list {
    --day-gap: 8px;
    --entry-gap: 8px;
    --shadow-size: 6px;
    --shadow-color: var(--dark-grey);
    --background: var(--light-grey);
    --gradient-end: rgba(255, 255,255, 0);
    --thumbnail-size: 100%;
    --header-overlap: 10px;
    background-color: var(--background);
    padding-top: calc(var(--main-header-height) + var(--sub-header-height)  - var(--header-overlap));
}
.essay-entry {
    /* min-height: 80px; */
}
.essay-entry.list-entry:after {
    width: calc(100% - var(--shadow-size));
    height: calc(100% - var(--shadow-size));
    top: calc( var(--shadow-size) / 2);
    left: calc( var(--shadow-size) / 2);
    box-shadow: 0px 0px var(--shadow-size) var(--shadow-size) var(--background);
}
.essay-entry .entry-header {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    /* display: none; */
}
.essay-entry .essay-title {
    display: none;
}
.essay-entry .entry-inner {
    display: block;
}
.essay-entry .entry-body.list-text {
    -webkit-line-clamp: 4;
}
.date-separator:after {
    position: absolute;
    left: 50%;
    top: calc( 50% + 2px);
    height: 1.2em;
    width: 1px;
    background-color: var(--dark-grey);
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(30deg);
}
.essay-entry .thumbnail-wrapper {
    flex: 0 0 var(--thumbnail-size);
    height: auto;
    margin-top: 20px;
    padding-bottom: 50%;
    position: relative;

    
}
.essay-entry .thumbnail-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* #essay-list .list-year-section-title:after,
#essay-list .list-year-section-title:before {
    background: linear-gradient(to bottom, var(--light-grey) 30%, var(--gradient-end) 100%);
} */
#essay-list .list-year-section-title:after {
    content: none;
}
#essay-list .sub-header .header-left{
    align-items: start;
}
.view-option.active {
    position: relative;
}
.view-option:after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    border-radius: 2px;
    /* border-radius: 50%; */
    background-color: var(--theme-color);
    bottom: 0;
    left: 50%;
    transform:translate(-50%, 100%);
}
.view-option.active:after {
    width: 20px;
    transition: width .3s;
}
#essay-list .list-day-section + .list-day-section {
    margin-top: calc(var(--shadow-size) + var(--day-gap));
    /* margin-top: var(--day-gap); */
}
#essay-list .list-entry + .list-entry {
    margin-top: calc(var(--shadow-size) + var(--entry-gap));
    /* margin-top: var(--entry-gap); */
}

#essay-list .list[data-list-type="grid"] {
    --entry-gap: calc( 8px + var(--shadow-size) * 2);
    /* margin-left: calc( var(--entry-gap) + var(--shadow-size) * 2); */
}
.entry-body {
    /* margin-top: 10px; */
    flex: 1;
    margin-right: var(--entry-part-gap);
}

#view-options {
    /* top: var(--main-header-height); */
    display: flex;
    align-items: flex-start;
    background-color: var(--light-grey);
}
.essay-list-section {
    position: fixed;
    left: -10000px;
    opacity: 0;
    pointer-events: none;
}
#essay-list .list-section-title {
    top: calc( var(--main-header-height) + var(--sub-header-height) - var(--header-overlap));
    /* font-family: 'ZenOldMincho', monospace; */
    /* font-family: 'GenRyuMin', monospace; */
    
}
#essay-list .list-day-section-title {
    padding-top: 0;
    top: calc( var(--main-header-height) + var(--sub-header-height) + 18px - var(--header-overlap));
}
#essay-list[data-list-view="rows"] .essay-list-section[data-slug="rows"],
#essay-list[data-list-view="grid"] .essay-list-section[data-slug="grid"],
#essay-list[data-list-view="calendar"] .essay-list-section[data-slug="calendar"],
#essay-list[data-list-view="search"] .essay-list-section[data-slug="search"] {
    /* display: block; */
    position: relative;
    left: 0;
    opacity: 1;
    pointer-events: auto;
    transition: opacity .5s;
}

#essay-calendar {
    width: 100vw;
}
#essay-list[data-list-view="calendar"] {
    --background: var(--light-grey);
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--nav-height) - var(--main-header-height));
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
.list[data-list-type="calendar"] {
    flex: 1;
    position: relative;
    padding-top: calc( var(--shadow-size) + 24px);
    padding-bottom: calc(var(--shadow-size) + var(--nav-height) + 24px);
    padding-left: var(--padding);
    padding-right: var(--padding);
}
.list[data-list-type="calendar"]:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    /* left: calc(-1 * var(--padding)); */
    left: 0;
    background-color: var(--background);
}
.list[data-list-type="calendar"] .essay-entry,
.list[data-list-type="default"] .essay-entry {
    opacity: 0;
    position: fixed;
    left: -10000px;
    pointer-events: none;
    margin-left: 0;
    
}
.list[data-list-type="calendar"] .essay-entry.visible ~ .essay-entry.visible{
    margin-top: calc(var(--shadow-size) + var(--entry-gap));
}
.list[data-list-type="calendar"] .essay-entry.visible,
.list[data-list-type="default"] .essay-entry {
    transition: opacity .25s;
    position: relative;
    left: 0;
    pointer-events: auto;
    opacity: 1;
}
/* #search-result-list {
    padding-top: calc(var(--shadow-size) + 10px);
} */
.current-keyword .tag {
    --text-color: var(--theme-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}
.essay-list-section[data-slug="calendar"] {
    overflow: hidden;
}
.month-container {
    /* float: left; */
}
.calendar-section-spring {
    transition: transform var(--transition-duration);
    width: calc(100vw * var(--month-count));
    display: flex;
    transform: translate(calc(-1 * 100vw * var(--current-month-index)), 0);
}
[data-now="0"] .today-underline {
    display: none;
}
.month-container[data-index="0"] .prev-month-arrow,
.month-container[data-now="1"] .next-month-arrow {
    opacity: 0.25;
    pointer-events: none;
}
.essay-list-section[data-loading="0"] .partial-loading-icon{
    display: none;
    
}
.essay-list-section[data-loading="0"] .list-content {
    transition: opacity .3s;
}
.essay-list-section[data-loading="1"] .list-content{
    position: fixed;
    left: -10000px;
    opacity: 0;
    pointer-events: none;
}
.essay-list-section .partial-loading-icon{
    margin: 10px auto;
}
[data-list-type="grid"] .entry-header {
    display: block;
}
[data-list-type="grid"] .entry-header .entry-time {
    margin-bottom: calc(var(--entry-part-gap) / 2);
}
#essay-list .entry-header {
    /* margin-bottom: calc( var(--entry-part-gap) * 2); */
    margin-bottom: var(--entry-part-gap);
    justify-content: flex-start;
}
#essay-list .entry-time {
    flex: 0 0 50px;
}
.essay-day {
    font-weight: 400;
}

.essay-entry .thumbnail-wrapper {
    display: none;
}