@font-face {
    font-family: 'GenRyuMin';
    src: url('./../fonts/GenRyuMin/GenRyuMin-R.woff2') format('woff2'),
         url('./../fonts/GenRyuMin/GenRyuMin-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

