.header,
.header-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header,
.sub-header {
    padding: 0 var(--padding);
}
#main-header {
    height: 70px;
    height: var(--main-header-height);
    background-color: var(--light-grey);
    z-index: 1000;
    
}
/* .header-right {} */
.header-section {
    gap: 10px;
}
.header-left,
.header-right {
    flex: 1;
}
.header-left {
    justify-content: start;
}
.header-right {
    justify-content: end;
}

.header-section > .icon {
    --w: 30px;
    --h: 30px;
}
.sub-header {
    height: var(--sub-header-height);
    background-color: var(--light-grey);
    display: flex;
    align-items: start;
    justify-content: center;
} 
.sub-header.fixed {
    --top: var(--main-header-height);
    z-index: 1000;
}