#helper-wrapper {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    position: fixed;
    z-index: 1002;
    right: 20px;
    bottom: calc(var(--nav-height) + 10px);
}
#helper-line-wrapper {
    position: absolute;
    top: 10%;
    left: -18%;
    width: 133%;
}
#helper-line-wrapper img {
    width: 100%;
}
#helper-body {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.helper-eye {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--green);
    position: absolute;
    transform-origin: bottom center;
    transition: transform 100ms;
}
#helper-left-eye {
    top: 30%;
    left: 18%;
}
#helper-right-eye {
    top: 30%;
    right: 20%;
}
#helper-wrapper.blinking .helper-eye,
#helper-wrapper.initializing .helper-eye,
#helper-wrapper[data-on="0"] .helper-eye {
    /* animation: blink 200ms linear forwards; */
    transform: scale(1, .2);
}

@keyframes blink {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}
#helper-message-wrapper {
    --off-w: auto;
    --off-h: auto;
    --on-w: calc(100vw - var(--padding) - 75px);
    --on-h: auto;
    --padding: 18px;
    --message-in-duration: 300ms;
    --message-out-duration: 300ms;
    position: fixed;
    bottom: calc(var(--nav-height) + 20px);
    width: var(--on-w);
    height: var(--active-message-height);
    max-height: var(--active-message-height);
    z-index: 1000;
    right: 75px;
    /* padding: var(--padding); */
    background: #fff;
    border-radius: 18px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
    color: var(--green);
    transform-origin: bottom right;
    transition: width var(--message-in-duration), max-height var(--message-in-duration);
    overflow: hidden;
}
#helper-wrapper[data-on="-1"] ~ #helper-message-wrapper {
    /* unintizlied */
    transition: none;
    right: -10000px;
}
#helper-wrapper[data-on="0"] ~ #helper-message-wrapper {
    width: var(--off-w);
    max-height: var(--off-h);
    opacity: 0;
    pointer-events:none;
    transition: width var(--message-out-duration), max-height var(--message-out-duration), opacity 200ms 50ms;
}
#helper-wrapper[data-on="0"].initializing ~ #helper-message-wrapper,
#helper-wrapper[data-on="0"].initializing ~ #helper-message-wrapper .helper-message,
#helper-wrapper[data-on="0"] ~ #helper-message-wrapper .helper-message {
    transition: none;
}
.helper-message {
    display: none;
    transition: all var(--message-in-duration);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: var(--on-w);
    
}
.helper-message.active {
    display: block;
}
.message-body {
    padding: var(--padding);
}
.message-link-wrapper {
    padding-left: var(--padding);
    padding-right: var(--padding);
}
.message-link {
    display: inline-flex;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 4px;
    justify-content: left;
    transition: background 300ms;
}
.message-link:active {
    /* color: red; */
    transition: none;
    background: red; 
}
.message-link-container {
    padding-bottom: 12px;
    /* border-top: 1px solid var(--dark-grey); */
}
.message-link-container .message-link:last-child {
    
    
}
.message-close-button {
    border: none;
    border-radius: 0px;
    border-top: 1px solid var(--dark-grey);
    text-align: center;
    justify-content: center;
    
}
/* .message-link + .message-close-button {
    margin-top: 12px;
} */
#helper-wrapper[data-on="0"].initializing ~ #helper-message-wrapper .helper-message.active,
#helper-wrapper.initializing ~ #helper-message-wrapper .helper-message.active {
    /* display: none; */
    opacity: 0;
    transition: none;
}
#helper-wrapper[data-on="0"] ~ #helper-message-wrapper .helper-message{
    /* width: calc(var(--off-w) - var(--padding) * 2);
    letter-spacing: -0.7em;
    line-height: 0.1; */
    opacity: 0;
    transition: none;
}
.more-button {
    display: inline-flex;
    margin-top: 1em;
    float: right;
    align-items: center;
    opacity: 0;
}
.more-button .arrow-head-right-icon{
    display: inline-block;
    vertical-align: middle;
}
#helper-wrapper[data-on="1"] ~ #helper-message-wrapper .more-button{
    opacity: 1;
    transition: opacity 200ms var(--message-in-duration);
}
#helper-wrapper[data-type="2"] {
    right: 15px;
} 
#helper-wrapper[data-type="2"] #helper-lightbulb-wrapper img{
    display: none;
}
#helper-wrapper[data-type="2"] #helper-lightbulb-wrapper {
    background-image: url(/media/svg/helper-2.svg);
    background-repeat: no-repeat;
    background-position: center;
    /* height: 27.9px; */
    padding-bottom: calc( 0.75 * 77.5%);
    background-size: 100%;
    opacity: 1;
}
#helper-wrapper[data-type="2"][data-on="0"] #helper-lightbulb-wrapper {
    background-image: url(/media/svg/helper-2-off.svg);
    opacity: 0.5;
}
#helper-wrapper[data-type="2"][data-on="0"] #helper-body {
    box-shadow: none;
}
#helper-wrapper[data-type="2"] #helper-body{
    
    background-color: var(--theme-color);
}
#helper-wrapper[data-type="2"][data-on="1"] #helper-body{
    background-color: #fff;
    transition: background var(--message-in-duration);
} 
#helper-lightbulb-wrapper {
    width: 75%;
    position: absolute;
    left: 50%;
    bottom: 9px;
    transform: translate(-50%, 0);
}
#helper-lightbulb-wrapper img {
    display: block;
    width: 100%;
}

#helper-wrapper[data-type="1"] {
    --size: 40px;
    right: 15px;
}
#helper-wrapper[data-type="1"] #helper-line-wrapper {
    display: none;
    width: 145%;
    left: -15%;
}
#helper-wrapper[data-type="1"] .helper-eye {
    width: 6px;
    height: 6px;
}
#helper-wrapper[data-type="3"] {
    right: 10px;
}
#helper-wrapper[data-type="3"]:before,
#helper-wrapper[data-type="3"]:after {
    /* content: ''; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#helper-wrapper[data-type="3"]:before {
    width: 72px; 
    height: 1px;
    background-color: #000;
}
#helper-wrapper[data-type="3"]:after {
    width: 1px; 
    height: 72px;
    background-color: #000;
}
.p5Canvas {
    --x: 0px;
    --y: 0px;
    position: absolute;
    left: calc(50% + var(--x));
    top: calc(50% + var(--y));
    transform: translate(-50%, -50%);
    /* border: 1px solid #000; */
}
#helper-wrapper[data-type="1"] .p5Canvas {
    --x: 3px;
}
#helper-wrapper[data-type="3"] img {
    display: none;
    width: 72px;
    height: 72px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid #000; */
}
#helper-wrapper[data-type="3"].initializing .helper-eye,
#helper-wrapper[data-type="1"].initializing .helper-eye {
    /* display: none; */
}
#helper-wrapper[data-type="3"][data-on="1"] .helper-eye {
    /* animation: blink 1s infinite; */
}
#helper-wrapper[data-type="3"] #helper-left-eye {
    top: 23%;
    left: 26%;
}
#helper-wrapper[data-type="3"] #helper-right-eye {
    top: 23%;
    left: 60%;
}
#helper-wrapper[data-type="3"] .helper-eye {
    width: 5px;
    height: 7px;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(1,1);
}
#helper-wrapper[data-type="3"].blinking .helper-eye,
#helper-wrapper.initializing[data-type="3"] .helper-eye,
#helper-wrapper[data-on="0"][data-type="3"] .helper-eye {
    transform: translate(-50%, -50%) scale(1,0.4);
}
#helper-wrapper[data-on="0"] ~ #helper-message-wrapper[data-message-style="2"],
#helper-message-wrapper[data-message-style="2"] {
    width: var(--on-w);
    height: calc( var(--active-message-height) + var(--padding) * 2);
    background: transparent;
    color: var(--green);
    
}
#helper-message-wrapper[data-message-style="2"] {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    transition: box-shadow var(--message-in-duration) var(--message-in-duration), width var(--message-in-duration), max-height var(--message-in-duration);;
}
#helper-wrapper[data-on="0"] ~ #helper-message-wrapper[data-message-style="2"] {
    box-shadow: none;
    max-height: none;
    transition: width var(--message-out-duration), max-height var(--message-out-duration), opacity 0ms var(--message-out-duration);
}

#helper-message-wrapper[data-message-style="2"] svg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    /* box-shadow: 0px 0px 6px rgba(0,0,0,0.5); */
}
#helper-message-wrapper[data-message-style="2"] #message-poly {     
    -webkit-filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.5));
    filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.5));
    fill: #fff;
    transition: fill 200ms calc(var(--message-in-duration) / 2);
}  
#helper-message-wrapper[data-message-style="2"] .helper-message {
    transition: opacity 200ms calc(var(--message-in-duration) / 2);
}
#helper-wrapper[data-on="0"] ~ #helper-message-wrapper[data-message-style="2"] #message-poly{
    fill: var(--green);
    filter: none;
    transition: fill var(--message-out-duration);
}
#helper-wrapper[data-on="0"] ~ #helper-message-wrapper[data-message-style="2"] .helper-message.active {
    transition: none;
    opacity: 0;
}
#helper-message-wrapper[data-link-style="2"] .message-link-wrapper{
    padding-left: 0px;
    padding-right: 0px;
}
#helper-message-wrapper[data-link-style="2"] .message-link {
    display: flex;
    justify-content: space-between;
    padding-left: var(--padding);
    padding-right: var(--padding);
}
#helper-message-wrapper[data-link-style="2"] .message-link {
    /* border-top: 1px solid var(--dark-grey); */
}