.icon {
    --w: 30px;
    --h: 30px;
    width: var(--w);
    height: var(--h);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.icon.small {
    --w: 24px;
    --h: 24px;
}
.menu-icon {
    background-image: url(/media/svg/menu.svg);
}
.plus-icon {
    background-image: url(/media/svg/plus.svg);
}
.wand-icon {
    background-image: url(/media/svg/wand.svg);
}
.pin-icon {
    background-image: url(/media/svg/pin.svg);
}
.photo-icon {
    background-image: url(/media/svg/photo.svg);
}
.arrow-head-right-icon {
    background-image: url(/media/svg/arrow-head-right.svg);
}
.arrow-head-right-icon[data-color="dark-grey"] {
    background-image: url(/media/svg/arrow-head-right-dg.svg);
}
.arrow-head-left-icon {
    background-image: url(/media/svg/arrow-head-left.svg);
}
.x-in-cicle-icon {
    background-image: url(/media/svg/x-in-circle.svg);
}
.weather-icon {
    background-image: url(/media/svg/partly_cloudy.svg);
}

.loading-icon {
    background-image: url(/media/svg/partial-loading_w.svg);
    animation: partial-loading 1s infinite ease-out;
}
.loading-icon[data-color="black"] {
    background-image: url(/media/svg/partial-loading.svg);
    animation: partial-loading 1s infinite ease-out;
}
.partial-loading-icon {
    background-image: url(/media/svg/partial-loading.svg);
    animation: partial-loading 1s infinite ease-out;
}
[data-loading="0"] > .partial-loading-icon,
[data-loading="0"] > .loading-icon {
    display: none;
}
.esc-icon {
    background-image: url(/media/svg/esc.svg);
}
[data-color-theme="dark"] .esc-icon {
    background-image: url(/media/svg/esc-w.svg);
}
.esc-small-icon {
    background-image: url(/media/svg/esc-small.svg);
}
[data-color-theme="dark"] .esc-small-icon,
.esc-small-icon[data-color="white"] {
    background-image: url(/media/svg/esc-small_w.svg);
}
.search-icon {
    background-image: url(/media/svg/search.svg);
}
.locator-icon {
    background-image: url(/media/svg/locator.svg);
}
.more-icon {
    background-image: url(/media/svg/more.svg);
}
.view-rows-icon {
    transition: background .3s;
    background-image: url(/media/svg/view-rows.svg);
}
.view-rows-icon.active {
    background-image: url(/media/svg/view-rows-g.svg);
}
.view-grid-icon {
    transition: background .3s;
    background-image: url(/media/svg/view-grid.svg);
}
.view-grid-icon.active {
    background-image: url(/media/svg/view-grid-g.svg);
}
.view-calendar-icon {
    transition: background .3s;
    background-image: url(/media/svg/view-calendar.svg);
}
.view-calendar-icon.active {
    background-image: url(/media/svg/view-calendar-g.svg);
}
.placeholder-icon {
    background-color: #000;
    border-radius: 50%;
}

@keyframes partial-loading{
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }
}