@import './search.css'; 
.large-popup {
    background-color: #fff;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    height: calc(100dvh -  20px);
    z-index: 1200;
}
.large-popup[data-hidden="1"] {
    transform: translate(0, 100dvh);
}
.large-popup {
    transition: transform .25s linear;
    display: flex;
    flex-direction: column;
}
.large-popup-body {
    padding: var(--padding);
    padding-bottom: 30px;
    overflow: scroll;
    flex: 1;
}
.large-popup-section + .large-popup-section{
    margin-top: 20px;
}
.large-popup-section-title {
    margin-bottom: 10px;
}
.location-option {
    padding: 16px 10px;
}
.location-option + .location-option {
    border-top: 1px solid var(--light-grey);
}
.location-option-distance {
    margin-top: 8px;
}
.large-popup .header {
    height: var(--main-header-height);
}
.location-search {
    background-color: var(--light-grey);
    margin: 10px 0;
}