.list {
    --background: var(--light-grey);
    --date-width: 60px;
    --day-gap: 8px;
    --entry-gap: 8px;
}
.entry-time {
    margin-bottom: .5em;
    color: var(--dark-grey);
}
.list-day-section {
    /* padding-bottom: 2em; */
    padding-bottom: var(--day-gap);
}
.list-section-title {
    top: var(--main-header-height);
    z-index: 100;
    position: sticky;
}
#essay-list .list-section-title {
    padding-top: var(--padding);
    top: calc( var(--main-header-height) + var(--view-options-height));
}
#essay-list .list-day-section-title {
    padding-top: 0;
    top: calc( var(--main-header-height) + var(--view-options-height) + var(--padding) + 20px);
}
.list-month-section-title {
    z-index: 300;
}
.list-year-section-title {
    z-index: 200;
}
.list-entry {
    margin-left: calc( var(--date-width) + 10px);
}
.list-entry + .list-entry {
    margin-top: var(--entry-gap);
}
.list-month-section-title {
    margin-left: 0;
    margin-bottom: 20px;
}
.list-day-section-title {
    text-align: center;
    margin-left: 0;
    margin-bottom: 8px;
    float: left;
    width: var(--date-width);
    top: calc(var(--main-header-height) + 1rem);
}
.list-year-section:first-child .list-year-section-title + .list-month-section .list-month-section-title {
    margin-top: -2em;
}
.list-year-section:first-child .list-year-section-title + .list-month-section .list-month-section-title + .list-day-section {
    margin-top: 0;
}
.list-day-of-week {
    display: block;
    text-align: center;
}
.list-date-note {
    font-weight: 700;
    padding: 0 .4em;
    position: relative;
    text-align: center;
}
.list-date-note { display: none; }
.list-date-note:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.4em;
    border: 2px solid #000;
    border-top: none;
    border-bottom: none;
    border-radius: 1em;
    top: -0.2em;
    left: 0;
    box-sizing: border-box;
}
.list-content {
    flex: 1;
    padding-top: 3px;
}
.list-text {
    /* max-height: 50px; */
    overflow: hidden;
    display: -webkit-box; /* Required for -webkit-line-clamp */
    -webkit-box-orient: vertical; /* Required for -webkit-line-clamp */
    -webkit-line-clamp: 2; /* Number of lines to display before truncating */
    text-overflow: ellipsis; /* Fallback for browsers that don't fully support -webkit-line-clamp */
}
.tangled-wrapper {
    flex: 0 0 50px;
    margin-right: 10px;
    position: relative;
    z-index: 10;
}
.tangled {
    width: 100%;
}

/* Make previous v3 variants the defaults */
.list-year-section-title {
    font-size: 1rem;
    font-weight: 700;
}
.list-year-section-title + .list-month-section {
    margin-top: 0;
}

/* Former v3 specifics now default */
.list-month-section-title {
    font-size: 1rem;
    font-weight: 700;
    width: var(--date-width);
    text-align: right;
}
.list-day-section:last-child {
    margin-bottom: calc(2 * var(--day-gap));
}

.list-year-section-title:after,
.list-year-section-title:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    background: linear-gradient(to bottom, var(--light-grey) 30%, rgba(239, 239, 239, 0) 100%);
}
.list-year-section-title:before {
    width: calc( var(--date-width) + var(--padding) );
    height: 30px;
    left: calc(-1 * var(--padding));
}
.list-year-section-title:after {
    width: calc( 100% - var(--date-width) + var(--padding));
    left: var(--date-width);
    height: 16px;
}

.thumbnail-wrapper {
    width: var(--thumbnail-size);
    height: var(--thumbnail-size);
}
.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list[data-list-type="grid"] {
    /* --gap: 8px; */
    padding-top: var(--view-options-height);
    --entry-gap: 10px;
}
.list[data-list-type="grid"] .list-entry {
    width: calc(50% - var(--entry-gap) / 2);
    display: inline-block;
    margin-left: 0;
    margin-bottom: calc( 3 * var(--entry-gap));
    vertical-align: top;
}
.list[data-list-type="grid"] .list-entry:nth-child(2n) {
    margin-left: var(--entry-gap);
}
.list[data-list-type="grid"] .list-entry + .list-entry {
    margin-top: 0 !important;
}
.list[data-list-type="grid"] .entry-time {
    margin-bottom: 15px;
}
