.list {
    --background: var(--light-grey);
    --date-width: 60px;
    --day-gap: 8px;
    --month-gap: 24px;
    --entry-gap: 8px;
    --entry-part-gap: 8px;
    --sticky-padding-bottom: 4px;
    position: relative;
}

.entry-time,
.entry-location {
    /* margin-bottom: var(--entry-part-gap); */
    color: var(--dark-grey);
}
.entry-header {
    margin-bottom: var(--entry-part-gap);
}
.list-day-section {
    /* padding-bottom: var(--day-gap); */
}
.list-day-section + .list-day-section,
.list-entry + .list-entry {
    margin-top: var(--day-gap);
}
.list-section-title {
    /* padding-top: var(--sticky-padding-bottom); */
    top: var(--main-header-height);
    z-index: 100;
    position: sticky;
}
.list-year-section-title {
    z-index: 200;
    padding-bottom: var(--sticky-padding-bottom);
    /* font-size: 1rem; */
    font-weight: 700;
}
.list-entry {
    margin-left: calc( var(--date-width) + 10px);
    gap: var(--entry-part-gap);
}
.list-entry + .list-entry {
    margin-top: var(--entry-gap);
}
.list-month-section-title {
    margin-left: 0;
    margin-bottom: var(--month-gap);
    font-weight: 700;
    width: var(--date-width);
    text-align: right;
    z-index: 300;
}
.list-day-section-title {
    --entry-height: 72px;
    text-align: center;
    float: left;
    width: var(--date-width);
    top: calc(var(--main-header-height) + 18px + (var(--entry-height) - 55px) / 2);
}
.list-year-section .list-year-section-title + .list-month-section .list-month-section-title {
    margin-top: calc( -1em - var(--sticky-padding-bottom));
}
.list-year-section .list-year-section-title + .list-month-section .list-month-section-title + .list-day-section {
    margin-top: 0;
}
.list-day-of-week {
    display: block;
    text-align: center;
}
.list-date-note {
    font-weight: 700;
    padding: 0 .4em;
    position: relative;
    text-align: center;
}
.list-date-note { display: none; }
.list-date-note:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.4em;
    border: 2px solid #000;
    border-top: none;
    border-bottom: none;
    border-radius: 1em;
    top: -0.2em;
    left: 0;
    box-sizing: border-box;
}
.list-content {
    flex: 1;
    /* padding-top: var(--sticky-padding-bottom); */
}
.list-text {
    /* max-height: 50px; */
    overflow: hidden;
    display: -webkit-box; /* Required for -webkit-line-clamp */
    -webkit-box-orient: vertical; /* Required for -webkit-line-clamp */
    -webkit-line-clamp: 2; /* Number of lines to display before truncating */
    text-overflow: ellipsis; /* Fallback for browsers that don't fully support -webkit-line-clamp */
}
.tangled-wrapper {
    flex: 0 0 50px;
    /* margin-right: 10px; */
    position: relative;
    z-index: 10;
}
.tangled {
    width: 100%;
}

/* Make previous v3 variants the defaults */
.list-month-section {
    margin-bottom: var(--month-gap);
}
.list-year-section-title + .list-month-section {
    margin-top: 0;
}

/* Former v3 specifics now default */

.list-day-section:last-child {
    /* margin-bottom: calc(2 * var(--day-gap)); */
    padding-bottom: 0;
}

.list-year-section-title:after,
.list-year-section-title:before {
    /* content: ''; */
    position: absolute;
    z-index: -1;
    top: 0;
    left: calc(-1 * var(--padding));
    width: 100vw;
    height: 20px;
    /* background: linear-gradient(to bottom, var(--light-grey) 50%, rgba(239, 239, 239, 0) 100%); */
    background-color: var(--light-grey);
}
.list-year-section-title:before {
    content: '';
    width: 100vw;
    height: 100%;
    left: calc(-1 * var(--padding));
}
.list-year-section-title:after {
    content: none;
    width: calc( 100% - var(--date-width) + var(--padding));
    left: var(--date-width);
    height: 16px;
}

.thumbnail-wrapper {
    width: var(--thumbnail-size);
    height: var(--thumbnail-size);
    flex: 0 0 var(--thumbnail-size);
    border-radius: var(--rounded-less);
    overflow: hidden;
}
.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list[data-list-type="grid"],
.list[data-list-type="default"] {
    /* --gap: 8px; */
    padding-top: var(--shadow-size);
    /* --entry-gap: 10px; */
}
.list[data-list-type="grid"] .list-entry {
    width: calc(50% - var(--entry-gap) / 2);
    display: inline-block;
    margin-left: 0;
    margin-bottom: calc( 3 * var(--entry-gap));
    vertical-align: top;
}
.list[data-list-type="grid"] .list-entry:nth-child(2n) {
    margin-left: var(--entry-gap);
}
.list[data-list-type="grid"] .list-entry + .list-entry {
    margin-top: 0 !important;
}
.list[data-list-type="grid"] .entry-header {
    margin-bottom: calc(2 * var(--entry-part-gap));
}

.list .partial-loading-icon{
    margin: 10px auto;
}

.list[data-loading="0"] .partial-loading-icon{
    display: none;
    
}
.list[data-loading="0"] .list-content {
    transition: opacity .3s;
}
.list[data-loading="1"] .list-content{
    position: fixed;
    left: -10000px;
    opacity: 0;
    pointer-events: none;
}
.list-day-section[data-day-count="1"] > .list-day-section-title {
    position: static;
}

[data-show-time="0"]  .entry-time,
[data-show-location="0"]  .entry-location,
[data-show-time="0"][data-show-location="0"] .entry-header{
    display: none;
}

[data-show-time="0"]  [data-list-type="grid"] .entry-time,
[data-show-time="0"]  [data-list-type="default"] .entry-time {
    display: block;
}