@import './icon.css';
@import './buttons.css';
@import './header.css';
@import './nav.css';
@import './tag.css';
@import './loading.css';
@import './popup.css';
@import './large-popup.css';

:root {
    --yellow: #f2dc14;
    --light-grey: #efefef;
    --dark-grey: #808080;
    --green: #0a774b;
    --red: #c42c3e;
    --text-color: #000;
    --background: var(--light-grey);
    --theme-color: var(--green);
    --rounded-less: 12px;
    --rounded: 18px;
    --rounded-more: 24px;

    --padding: 10px;
    --padding-2: 10px;
    --page-padding-top: calc(var(--menu-height) + 25px );
    --page-padding-bottom: calc(var(--padding) * 2);

    --main-header-height: 60px;
    --sub-header-height: 40px;
    --nav-height: 60px;

}
html {
    font-size: 14px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

body {
	margin: 0;
	font-family: sans-serif;
    font-size: 1rem;
	line-height: 1;
	-webkit-font-smoothing: subpixel-antialiased;
    font-weight: normal;
    transition: background-color .5s;
    color: var(--text-color);
    background-color: var(--background);
    
}
h1, h2, h3 {
    font-weight: normal;
}
a {
    color: inherit;
    text-decoration: none;
}
figure {
    position: relative;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0px;
}

ul:first-child {
	padding-left: 0px;
}
.full-vw {
    width: 100vw;
    max-width: 100%;
}
.full-vh {
    height: 100dvh;
}
.float-container:after {
    content:'';
    display: block;
    clear: both;
    height: 0;
}
figure img,
figure video{
    display: block;
    width: 100%;
}
.padded {
    padding-left: var(--padding);
    padding-right: var(--padding);
}
.small {
    font-size: .786rem;
}
.regular {
    font-size: 1rem;
}
.medium {
    font-size: 1.286rem;
}
.large {
    font-size: 1.714rem;
}
.x-large {
    font-size: 3.3rem;
}
.green {
    --color: var(--green);
    color: var(--color);
}
.red {
    --color: var(--red);
    color: var(--color);
}
.dark-grey {
    --color: var(--dark-grey);
    color: var(--color);
}
.page {
    background-color: var(--background);
    padding: var(--padding);
    padding-top: calc( var(--padding) + var(--main-header-height) );
    padding-bottom: calc(var(--padding) * 2 + var(--nav-height));
}
.body {
    line-height: 1.4;
}
.body a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}
.bold {
    font-weight: 700;
}
.fixed {
    --top: 0;
    --left: 0;
    top: var(--top);
    left: var(--left);
    position: fixed;
}
.fixed[data-fixed-align="bottom"] {
    --top: auto;
    --bottom: 0;
    bottom: var(--bottom);
}
#app {
    color: var(--body-color);
    background-color: var(--background);
    scrollbar-width: none; /* Firefox */
    position: relative;
    height: 100dvh;
}
#app::-webkit-scrollbar {
    display: none;
}
.text-button {
    height: 30px;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-button[data-status="0"] {
    color: var(--dark-grey);
}
button {
    border: none;
    outline: 0;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
    user-select: none;
    display: inline-block;
    font: inherit;
}
.button {
    cursor: pointer
}
@media screen and (min-width: 500px) {
    body {
        color: #fff;
        background-color: #000;
    }
    #app {
        --vw: 375px;
        --vh: 814px;
        width: var(--vw);
        height: var(--vh);
        margin: 20px auto;
        /* border: 1px solid #0d0; */
        overflow: scroll;
        color: var(--text-color);
        box-sizing: content-box;
    }
    .fixed {
        --top: 20px;
        --left: calc((100vw - var(--vw)) / 2);
    }
    .fixed[data-fixed-align="bottom"] {
        --top: calc(20px + var(--vh) - var(--nav-height));
        --bottom: auto;
    }
    .page {
        min-height: 100%;
    }
    .full-vw {
        width: var(--vw);
    }
    .full-vh {
        height: var(--vh);
    }
}


