:root {
    /* --dark-blue: #144396; */
    --yellow: #f2dc14;
    --light-grey: #efefef;
    --padding: 10px;
    --padding-2: 10px;
    --page-padding-top: calc(var(--menu-height) + 25px );
    --page-padding-bottom: calc(var(--padding) * 2);
}
html {
    font-size: 14px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: sans-serif;
    font-size: 1rem;
	line-height: 1;
	-webkit-font-smoothing: subpixel-antialiased;
    font-weight: normal;
    transition: background-color .5s;
    color: #000;
    background-color: #000;
}
h1, h2, h3 {
    font-weight: normal;
}
a {
    color: inherit;
    text-decoration: none;
}
figure {
    position: relative;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0px;
}

ul:first-child {
	padding-left: 0px;
}

figure img,
figure video{
    display: block;
    width: 100%;
}
.page {
    padding-top: var(--page-padding-top);
    padding-bottom: var(--page-padding-bottom);
    background-color: #fff;
}
.padded {
    padding-left: var(--padding);
    padding-right: var(--padding);
}
.small {
    font-size: .786rem;
}
.regular {
    font-size: 1rem;
}
.medium {
    font-size: 1.286rem;
}
.large {
    font-size: 1.714rem;
}
.x-large {
    font-size: 3.3rem;
}
.page {
    background-color: var(--light-grey);
    padding: var(--padding);
    
}
.body {
    line-height: 1.5;
}
.body a {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}
@media screen and (min-width: 375px) {
    #app {
        width: 375px;
        height: 814px;
        margin: 20px auto;
        border: 1px solid #ccc;
        overflow: scroll;
    }
    .page {
        min-height: 100%;
    }
}


