#refresh.page {
    overflow: hidden;
    height: 100dvh;
    position: relative;
} 
#background {
    background-color: #000;
}
#content {
    position: relative;
    min-height: 100dvh;
    z-index: 10;
    background-color: var(--background);
    transition: opacity 250ms;
}
#content.updating {
    opacity: 0;
    transition: none;
}
#refresh-icon-wrapper {
    opacity: 0;
    left: 50%;
    top: calc(var(--main-header-height));
    transform: translate(-50%, -100%);
    z-index: 500;
    border-radius: 50%;
}
#refresh-icon {
    width: 40px;
    height: 40px;
}
#refresh-icon > img {
    width: 100%;
}
#refresh-icon[data-refreshing="1"] {
    animation: refreshing 1s infinite;
    animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
}
@keyframes refreshing{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
.refresh-target.transitioning {
    transition: top 250ms;
}