.search-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar-wrapper > .search-input-wrapper {
    flex: 1;
    position: relative;
}
.search-bar-wrapper > .search-button {
    flex: 0 0 60px;
    text-align: center;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search-input {
    padding-right: 34px;
}
.search-input-wrapper {
    position: relative; 
}
.remove-input-content-button {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 5px;
    top: 50%;
    transform: translate(0, -50%);
}
.search-bar-wrapper[data-empty="1"] .remove-input-content-button{
    display: none;
}
.search-bar-wrapper[data-empty="1"] .search-button {
    color: var(--dark-grey);
    pointer-events: none;
}

.search-responsive-section[data-loading="1"] > *:not(.partial-loading-icon) {
    display: none;
}
.search-responsive-section > .partial-loading-icon {
    margin: 10px auto;
}
.essay-list-section[data-slug="search"].no-result .list-entry {
    display: none;
}
.essay-list-section[data-slug="search"].no-result .list-content:before {
    content: "找不到符合的搜尋結果";
    color: var(--dark-grey);
    display: block;
    text-align: center;
    margin-top: 10px;
}